body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FDEFEF;
}

.check-status {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container2 {
  display: flex;
  flex-grow: 1;
}

main {
  margin-left: 220px;
  padding: 70px 20px 20px 20px; /* To account for the header and left nav */
  flex-grow: 1;
  width: calc(100% - 220px);
  margin-left: auto;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.status-check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.status-check label {
  margin-right: 10px;
}

.status-check select,
.status-check input,
.status-check button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #CCC;
}

th, td {
  padding: 10px;
  text-align: left;
}
