.sidebar {
  background-color: #E6736B;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure sidebar fills the height of its parent */
}

.sidebar nav {
  flex-grow: 1; /* Allow the nav to grow and fill the remaining space */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.button {
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 30px;
  width: 100%; /* Ensure buttons fill the available width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.nav-button {
  background-color: #FDEDEA;
  color: #040202;
}

.nav-button.active {
  background-color: #C04C4C;
  color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sidebar nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar nav ul li {
    margin: 10px 0;
  }
}
